extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.hero 
		.section_in 
			.hero_main 
				.hero_head 
					h1 Пансионат для пожилых людей <span><br>в Краснодаре от 1000 рублей
				.hero_info 
					p Комфортный дом для счастливой <br> и беззаботной жизни дорогих вам людей
				.hero_bottom 
					.hero_btn.btn
						button(type="button") Оставить заявку
					.hero_whatsapp 
						a(href="#")
							img(src="i/whatsapp.png", alt="") 
			.hero_scroll_whatsapp 
				a(href="#")
					img(src="i/whatsapp2.png", alt="") 
				p Свяжитесь с нами в WhatsApp
	section.organize
		.section_in 
			.organize_main 
				.organize_head 
					h2 За кем мы <span>организуем</span> уход
				.orgsnize_list 
					ul 
						-for(i = 0; i < 3; i++)
							li
								.organize_info
									.organize_info_image
										img(src="i/gallery/organize.png", alt="")
									.organize_info_txt 
										h6 Самостоятельные пожилые
										p Человек способен без посторонней помощи выполнять ежедневные рутинные действия.
								.organize_btn.btn
									button(type="button") Заказать
	section.what 
		.section_in 
			.what_main.p16
				.what_head
					h2 Что <span>доступно</span> нашим постояльцам?
				.what_list 
					ul 
						-for(i = 0; i < 4; i++)
							li
								.what_list_image 
									img(src="i/what1.png", alt="")
								.what_list_txt
									h6 Проживание в <span>комфортных</span> номерах
									p Номера, оборудованные всем необходимым, а также функциональными кроватями для реабилитации пожилых. Есть возможность выбрать 1-местные , 2-местные и 3-4 местные.
	section.form 
		.section_in 
			.form_main 
				.form_left 
					.form_left_image
						img(src="i/woomen.png", alt="")
					.form_left_txt(data-aos="fade-up")
						h6 Оставьте заявку
						p Я отвечу на все ваши вопросы
				.form_right
					.form_right_head
						h2 Запишитесь на <span>бесплатную</span><br> экскурсию по нашему пансионату
					.form_btn.btn
						button(type="button") Оставить заявку
	section.accommodations
		.section_in 
			.accommodations_main.p16
				.accommodations_left 
					img(src="i/conditions.png", alt="")
				.accommodations_right 
					.accommodations_head
						h2 Условия <span>проживания</span>
					.accommodations_list
						ul 
							li.accommodations_txt(data-aos="fade-up")
								h6 Забота о постояльцах
								p Ежедневный обход врача, измерение температуры и артериального давления. Выдача назначенных медикаментов и контроль их приема. 
							li.accommodations_txt(data-aos="fade-up")
								h6 Гигиена и питание
								p Гигиенические процедуры: стрижка волос и ногтей, обработка пролежней. Помощь в принятии пищи, подбор индивидуальной диеты.
							li.accommodations_txt(data-aos="fade-up")
								h6 Для людей с особенностями
								p Функциональные кровати для лежачих больных, стулья и туалеты для инвалидов. Коляски, трости, ходунки и др. Пансионат оборудован поручнями, пандусами.
							li.accommodations_txt(data-aos="fade-up")
								h6 Разнообразный досуг
								p Организованный досуг, ежедневные прогулки, заботливые и профессиональные сиделки.
	section.home 
		.section_in 
			.home_main 
				.home_head 
					h2 Теплая и комфортная атмосфера, <span>как дома</span>
					.home_slider_nav 
						.home_slider_btn_previos 
							button(type="button")
								+icon('prev')
						.home_slider_btn_next 
							button(type="button")
								+icon('next')
				.home_slider_w
					.home_slider.swiperhome
						.swiper-wrapper
							-for(i = 0; i < 12; i++)
								.swiper-slide 
									.home_slide_img
										img(src="i/gallery/gallery1.png", alt="")
						.swiper-scrollbar
	section.variation 
		.section_in 
			.variation_main.p16
				.variation_head 
					h2 <span>Доступные</span> варианты размещения
				.variation_list 
					ul 
						li.variation_info 
							.variation_info_w
								.variation_info_head 
									h6 На <span>1</span> день
								.variation_info_txt 
									p Если вам нужно срочно отлучиться в другую часть города по работе и не с кем оставить родственника. Утром размещаете - вечером забираете.
							.variation_info_bottom
								.variation_info_price
									p от 1 000 ₽ сут.
								.variation_info_btn.btn 
									button(type="button") Заказать
						li.variation_info 
							.variation_info_w
								.variation_info_head 
									h6 На <span>7</span> дней
								.variation_info_txt 
									p Если вам нужно  ухать в отпуск или срочную командировку.
							.variation_info_bottom
								.variation_info_price
									p от 1 000 ₽ сут.
								.variation_info_btn.btn 
									button(type="button") Заказать
						li.variation_info 
							.variation_info_w
								.variation_info_head 
									h6 На <span>30</span> дней
								.variation_info_txt 
									p Постоянное размещение под чутким присмотром.
							.variation_info_bottom
								.variation_info_price
									p от 1 000 ₽ сут.
								.variation_info_btn.btn 
									button(type="button") Заказать
	section.additionally
		.section_in 
			.additionally_main 
				.additionally_head 
					h2 Дополнительные <span>услуги</span>
				.additionally_list 
					.additionally_top 
						table 
							tbody
								tr  
									th Дополнительные услуги
									th Стоимость
					.additionally_info 
						table 
							tbody
								tr 
									th Массаж для пожилого человека
									th 300 ₽
								tr 
									th Занятия ЛФК для пожилых людей
									th 250 ₽
								tr 
									th Экскурсии, поездки в театр, цирк
									th от 1 000 ₽
								tr 
									th Анализы, УЗИ, осмотр психиатра
									th По прайсу клиники
								tr 
									th Невропатолог
									th от 1 000 ₽
	section.transfer.p16
		.section_in 
			.transfer_main
				.transfer_left
					.transfer_head 
						h2 Организуем<br> <span>трансфер</span> до пансионата
					.transfer_txt
						p Осуществляем перевозку лежачих пожилых, малоподвижных<br> и одиноких пенсионеров «от кровати до кровати».
					.transfer_btn.btn
						button(type="button") Оставить заявку
	section.question
		.section_in
			.question_main 
				.question_left 
					img(src="i/question.png", alt="")
				.question_right 
					.question_head 
						h2 Вопрос-<span>ответ</span>
					.question_info_main 
						ul 
							-for(i = 0; i < 4; i++)
								li.question_item
									.question_item_head
										h4 Lorem ipsum dolor sit amet, consectetur adipiscing
										.question_item_head_btn 
											span 
											span
									.question_item_bottom
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nosthud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	section.full.p16
		.section_in 
			.full_main
				.full_head 
					h2 Получите <span>полную консультацию</span> по всем условиям проживания
				.full_info 
					.full_left 
						ul
							li.check_first
								.check_first_head
									h6 Пол родственника
								.check_first_variation 
									ul
										-for(i = 0; i < 2; i++)
											- let people = ['Женский', 'Мужской']
												li.people-check_item
													input(type="radio" name="peopleCheck" id=`people-${i}`)
													label(for=`people-${i}`) 
														img(src=`i/people-${i}.png`, alt="")
														.people_checkItem--circle
															p=people[i]
															.people-checks
							li.check_first 
								.check_first_head
									h6 Самостоятельный
								.check_second_variation
									ul
										-for(i = 0; i < 2; i++)
											- let yes = ['Да', 'Нет']
												li.yes-check_item
													input(type="radio" name="peopleCheck" id=`yes-${i}`)
													label(for=`yes-${i}`) 
														img(src=`i/yes-${i}.png`, alt="")
														.people_checkItem--circle
															p=yes[i]
															.people-checks
							li.check_third
								.check_third_head
									h6 Возраст: <span id="field">
								.check_third_variation
									p(id="field")
									.pips(id="slider-pips")
					.full_right 
						.full_form_w
							.full_form_main
								form.full_form
									p Ваше имя
									.full_form_input
										input(type="text" placeholder="Имя....")
									p Ваш телефон
									.full_form_input
										input(type="tel" placeholder="Введите телефон")
									p Комментарий
									.full_form_txt 
										textarea(name="txt" placeholder="Особенности питания, хронические заболевания и т.д.")
									.full_form_btn 
										button(type='submit') Получить консультацию
								.price_policy!='Оставляя данные, вы соглашаетесь<br> с <a href="#">политикой конфиденциальности</a>'
	section.video 
		.section_in 
			.video_main
				.video_head 
					h2 Посмотрите <span>видео</span> о нас
				.video_video
					a(href="https://www.youtube.com/watch?v=LXb3EKWsInQ" data-fancybox="video") 
						img(src="i/videobg.png", alt="")
						button(type="button")
							img(src="i/play.png", alt="")
	section.reviews 
		.section_in 
			.reviews_main.p16
				.reviews_head 
					h2 Отзывы <span>родственников</span> постояльцев
					.reviews_slider_nav 
						.reviews_slider_btn_previos 
							button(type="button")
								+icon('prev')
						.reviews_slider_btn_next 
							button(type="button")
								+icon('next')
				.reviews_slider_w
					.reviews_slider.swiper
						.swiper-wrapper
							-for(i = 0; i < 7; i++)
								.swiper-slide 
									.reviews_slide_img
										img(src="i/reviews/reviews1.png", alt="")
	section.contacts 
		.section_in 
			.contacts_main 
				.contacts_left 
					.contacts_head 
						h2 Наши <span>контакты</span>
					.contacts_list 
						ul 
							li 
								.contacts_addres 
									img(src="i/mapmark.png", alt="")
									p Ул. Пластунская дом 14
							li 
								.contacts_mail 
									img(src="i/mail.png", alt="")
									a(href="#") pansionat-maiak@yandex.ru
							li 
								.contacts_mobil 
									img(src="i/mobil.png", alt="")
									a(href="#") +7 991 091 25 53
					.contacts_whatsapp_w
						a(href="#")
							.contacts_whatsapp
								img(src="i/whatsapp.png", alt="") 
				.contacts_right 
					.map 
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8077c4b8bd21bcb1437ee1ac741357f526b26ad26ea7d08089d05ccacd6aae76&amp;width=816&amp;height=489&amp;lang=ru_RU&amp;scroll=false"></script>


